*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
}

#menu_svg {
  position: absolute;
  left: 20px;
  top: 20px;
  display: inline;
}

#header{
  width: 100%;
  background: #0277bd;
  text-align: center;
  padding: 20px;
  top: 0;
  position: relative;
}

#header_min{
  width: 100%;
  background: #0277bd;
  text-align: center;
  padding: 10px;
  top: 0;
  position: fixed;
  display: none;
}

#header_title{
  margin-bottom: 0;
  color: #eee;
  font-weight: 300;
}

#header_title_min{
  padding: 0px;
  color: #eee;
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0;
}

#header_subtitle{
  margin-top: 10px;
  color: #0277bd;
  background: #eee;
  display: inline-block;
  padding: 5px 10px;
}

#all_petitions_list_cont{
  width: 80%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.all_petitions_list_item{
  margin: 10px 0;
  padding: 30px 50px;
  font-size: 17px;
  color: #212121;
  background: #eee;
}

.all_petitions_list_item_p{
  font-size: 14px;
}

#go_to_page_top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #0277bd;
  border-radius: 50%;
  padding: 12px;
  width: 45px;
  height: auto;
  display: none;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    #all_petitions_list_cont{
      width: 100%;
    }
    .all_petitions_list_item{
      margin: 5px 0;
      padding: 25px 30px;
      font-size: 15px;
    }
    .all_petitions_list_item_p{
      font-size: 12px;
    }
    #header_title{
      font-size: 20px;
    }
    #header_subtitle{
      font-size: 12px;
    }
    header{
      padding: 10px;
    }
}

.all_petitions_list_item:hover{
  background: #212121;
  color: #eee;
}

footer{
  margin-top: 70px;
  background: #0277bd;
  padding: 70px 20px;
}

.byline{
  font-size: 15px;
  margin: 10px;
  color: #212121;
  padding: 7px 20px;
  background: #fff;
  text-align: center;
  display: table;
  margin: 20px auto;
}

.byline:hover{
  background: #212121;
  color: #eee;
  cursor: pointer;
}

.byline_a{
  color: inherit;
  text-decoration: none;
}
