*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
}

#main_div{
  display: none;
}

/* LOADING */
#loading{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loading_p{
  margin: 0 auto;
  text-align:center;
  background:#0277bd;
  color:#eee;
  display:table;
  padding:10px 20px;
}

#loading_img{
  margin: 0 auto;
  display:block;
  width:25%;
  height:auto;
}

#menu_svg {
  position: absolute;
  left: 20px;
  top: 20px;
  display: inline;
}

#go_back_header{
  width: 100%;
  background: #0277bd;
  text-align: center;
  top: 0;
  position: relative;
}

#go_back_title{
  padding: 15px;
  display: table;
  font-size: 20px;
  text-align: left;
  margin: 0;
  color: #eee;
  font-weight: 300;
}

#go_back_title:hover{
  background: #eee;
  color: #0277bd;
  cursor: pointer;
}

#go_back_title:hover img{
  color: #0277bd;
}

#go_back_svg{
  width: 20px;
  height: auto;
}

#latest_refresh{
  display: table;
  margin: 0 auto;
  font-size:10px;
  text-align:right;
  position:absolute;
  top:0;
  right:0;
  padding:10px 20px;
  color:#eee;
  background: #212121;
}

#lastest_refresh_cont{
  background: #eee;
}

#petition_title{
  margin: 0;
  display:block;
  padding:20px;
  width:auto;
  background: #eee;
}

.container{
  display: table;
  margin: 0 auto;
  background: #eee;
  padding: 30px 50px;
  margin-bottom: 20px;
  width: 800px;
}

#counter_cont{
  background: #212121;
  padding: 20px;
}

#main_petition_cont{
  padding: 20px 0;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .container{
      width: auto;
      min-width: 100%;
      margin: 0 0 10px 0;
      padding: 30px 20px;
    }
    #view_map_button{
      display: none !important;
    }
    #petition_map{
      display: none !important;
    }
    #go_back_title{
      padding: 10px;
      display: table;
      font-size: 17px;
      text-align: left;
      margin: 0;
      color: #eee;
      font-weight: 300;
    }
    #go_back_svg{
      width: 17px;
    }
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    #latest_refresh{
      position:inherit;
      text-align: center;
    }
    #lastest_refresh_cont{
      margin: 0 auto;
      padding: 5px 0 20px 0;
    }
}

#counter{
  color: white;
  margin: 0;
  font-weight: 300;
  font-size: 25px;
}

#counter_desc{
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 0;
  font-weight: 300;
}

.text_el{
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}

.para_el{
  text-align: center;
  font-size: 17px;
  font-weight: 300;
}

.reg_text{
  color: black;
}

#show_full_response{
  font-size: 12px;
  background: #212121;
  color: #eee;
  border: none;
  padding: 10px;
  font-weight: 300;
  border: 1px solid #212121;
}

#show_full_response:hover{
  border: 1px solid #212121;
  background: #eee;
  color: #212121;
  cursor: pointer;
}

#c_table{
  border: none;
  border-spacing: 0;
}

.c_data_cell{
  border: none;
  margin: 0;
  padding: 10px;
}

#view_map_button{
  display:table;
  margin:0 auto 20px auto;
  width:auto;
  padding: 20px 30px;
  text-align: center;
}

#view_map_button:hover{
  background:#212121;
  color:white;
  cursor: pointer;

}

#go_to_page_top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #eee;
  border-radius: 50%;
  padding: 12px;
  width: 45px;
  height: auto;
  display: none;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

progress{
  margin: 0;
  padding: 0;
  height: 5px;
}

progress#red_prog::-webkit-progress-value { background-color: red;}

progress#red_prog::-moz-progress-bar { background-color: red; }

progress#red_prog { background-color: red; }

progress#green_prog::-webkit-progress-value { background-color: green;}

progress#green_prog::-moz-progress-bar { background-color: green; }

progress#green_prog { background-color: green; }
